<h1>Hints</h1>
<ul>
  <li>1. nyao ~(=^エ^=)ノ(aka meow)</li>
  <li>2. baby</li>
  <li>3. plural</li>
</ul>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "name_text_field" %><br />
  </div>
  <div class"actions">
    <proceed>
      <%= link_to_function "Submit", "$(this).up('form').submit()" %>
    </proceed>
    <hidden><%= f.submit %></hidden>
  </div>
<% end %>
