<div style="margin:5px">
  <%= select_tag :options_select, options_for_select(item.available_options),
  :onchange => "jQuery(this).next().html('Add '+jQuery(this).find(':selected').text()+' as an option')"%>
  <div class="link"
    onclick="jQuery.ajax({url:'<%=add_option_menu_item_url(item)%>',
                      data: 'option='+jQuery(this).prev().val(),
                      datatype: 'script',
                      type: 'PUT'});">
    
  </div>
</div>
<% item.options.each do |option| %>
  <div id="<%=option.id%>" style="display:inline-block;margin: 5px;">
    <%= "#{option.name} #{format_price option.price if option.price > 0}" %>
    <%= link_to 'remove', '#',
    {:onclick => "jQuery.ajax({
                    url:'#{remove_option_menu_item_url(item)}',
                    data: 'option=#{option.id}',
                    datatype: 'script',
                    type: 'PUT'
                    });",
                    :class => 'link'} %>
  </div>
<% end%>
