<% categories = {} %>
<% @menu_items.each do |item| %>
  <% categories[item.category] ||= [] %>
  <% categories[item.category] << item %>
<% end %>

<%= render 'shared/categories', :categories => categories %>

<ul>
  <% categories[params[:category]].each do |item|%>
    <% if item.id == @menu_item.id %>
      <%= form_for(@menu_item) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%= render 'shared/menu_item_entries', :f => f  %>
        <div class="actions">
          <%= f.submit "Update #{item.name}" %>
        </div>
      <% end %>
    <% else %>
      <%= render 'shared/describe_each', :item => item %>
    <% end %>
  <% end %>
</ul>
