<% category = params[:category] %>
<% categories = {} %>
<% @menu_items.each do |item| %>
  <% categories[item.category] ||= [] %>
  <% categories[item.category] << item %>
<% end %>

<%= render 'shared/categories', :categories => categories %>

<% if categories[category] %>
<ul>
  <% categories[category].each do |item| %>
    <%= render 'shared/describe_each', :item => item %>
  <% end %>
</ul>
<% else %>
  <p>select a category above to edit existing items</p>
<% end %>

<% if admin? %>
<h1>
  <% menu = category || "Menu Items" %>
  <%= "Add to #{menu}" %>
</h1>
<%= form_for(@menu_item, :html => {:multipart => true }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'shared/menu_item_entries', :f => f %>
  <div class="actions">
    <%= image_submit_tag "submit-button.png" %>
  </div>
<% end %>
<% end %>
