<% categories = {} %>
<% MenuItem.all.sort{ |x,y| x.id<=>y.id }.each do |item| %>
  <% categories[item.category] ||= [] %>
  <% categories[item.category] << item %>
<% end %>

<div style="float:left;width:275px;">
  <div style="text-align:left;">
  <% form_for(@menu_item) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <% end %>
    <h1>
      New Item
    </h1>
    <ul>
      <li id="new-item">
        New Item
      </li>
    </ul>
  </div>

  <% categories.each do |cat, items| %>
  <div style="text-align:left;">
    <h1><%=cat%></h1>
    <ul>
      <% items.each do |item| %>
        <li id="<%= item.id %>" class="item-name">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<!-- floaty display -->

<div id="item-view" class="floaty-box" style="float:right;">
  <div class="new-item_info item-info" style="cursor:default;">
  <% form_for(@new_item) do |f| %>

      <div class="frame">
        <h2>New Item</h2>
        Select a Category:
        <% options = {'New Category' => ''} %>
        <% categories.each_key do |key| %>
          <% options[key] = key %>
        <% end %>
        <%= select_tag(:category_selector, options_for_select(options), :class => 'category_selector') %>
        <hidden class="new_category_field" >
          <%=f.text_field :category, :value=>@new_item.category %>
        </hidden>
        <div><%=f.submit %></div>
      </div>
      <div class="description">
        <h2>
          <%= f.text_field :name, :class=>"field", :value=>@new_item.name %>
        </h2>
        $<%= f.text_field :price, :class=>"field", :value=>@new_item.price %>
        <p>
        <%= f.text_area :description, :class=>"field", :style => "height:27px", :value=>@new_item.description %>
        </p>
      </div>

  <% end %>
  </div>

  <% categories.each do |cat, items| %>
    <% items.each do |item| %>
      <div class="<%= item.id%>_info item-info" style="cursor:default;">
      <% form_for(item) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

          <div class="frame">
            <h2><%=item.name%></h2>
            Select a Category:
            <% options = {'New Category' => ''} %>
            <% categories.each_key do |key| %>
              <% options[key] = key %>
            <% end %>
            <%= select_tag(:category_selector, options_for_select(options,item.category), :class => 'category_selector') %>
            <hidden class="new_category_field" >
              <%=f.text_field :category, :value=>item.category %>
            </hidden>
            <div style="margin:10px;">
              <div class="<%= item.out_of_stock ? "disabled" : "in_stock"%>"
                onclick="location.href='<%=toggle_stock_menu_item_url(item)%>';">
                In Stock
              </div>
              <div class="<%= item.out_of_stock ? "out_of_stock" : "disabled"%>"
                onclick="location.href='<%=toggle_stock_menu_item_url(item)%>';">
                Out of Stock
              </div>
            </div>
            <div><%=f.submit :class => "btn btn-large btn-primary"%></div>
          </div>

          <div class="description">
            <h2>
              <%= f.text_field :name, :class=>"field", :value=>item.name %>
            </h2>
            $<%= f.text_field :price, :class=>"field", :value=>item.price %>
            <p>
            <%= f.text_area :description, :class=>"field", :style => "height:27px", :value=>item.description %>
            </p>
          </div>

      <% end %>
            <%=button_to "Delete", item, :method => :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- /floaty display -->

<script type="text/javascript">
  $("#new-item").mouseover(function() {
    $(".item-info").hide();
    $(".new-item_info").show();
  });

  $(".category_selector").change(function() {
      hidden = $(this).parent().find('.new_category_field');
      hidden.find("#menu_item_category").val($(this).val());
      cat_field = $("#new_category_field");
    if ($(this).val().length == 0) {
      hidden.show();
    }
    else {
      hidden.hide();
    }
  });
</script>
