<div style="display:table;width:100%;table-layout:fixed;">
<div class="item-names page-divider" style="width:40%;">
  <% form_for(@menu_item) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <% end %>
  <div id="item_list" class='scrollable'>
    <%= render 'item_list', :@categories => @categories %>
  </div>
</div>

<!-- floaty display -->

  <div class="page-divider">
  <div id="item-view" class="floaty-box">
  <div class="scrollable">
    <div class="new-item_info item-info">
      <% form_for(@new_item, :html => {:multipart => true}) do |f| %>

        <div class="frame">
          <h2>New Item</h2>
          Select a Category:
          <% options = {'New Category' => ''} %>
          <% @categories.each do |key| %>
            <% options[key.name] = key.name %>
          <% end %>
          <%= select_tag(:category_selector, options_for_select(options), :class => 'category_selector') %>
          <hidden class="new_category_field" >
          <%=f.text_field :category,:class => "field", :value=>@category.name %>
          </hidden>
            <div>
              <%= f.label "Photo:" %>
              <%= f.file_field :photo %>
              <span></span>
            </div>
          <div><%=f.submit %></div>
        </div>
        <div class="description">
          <h2>
            <%= f.text_field :name, :class=>"field", :value=>@new_item.name %>
          </h2>
          $<%= f.text_field :price, :class=>"field", :value=>@new_item.price %>
          <%= f.text_area :description, :class=>"field", :style=>"height:27px;", :value=>@new_item.description %>
        </div>

      <% end %>
    </div>
  </div>
    <% @categories.each do |cat| %>
      <% cat.menu_items.each do |item| %>
        <div class='scrollable'>
        <div class="<%= item.id%>_info item-info">
          <% form_for(item, :html => {:multipart => true}) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

            <div class="frame">
              <h2><%=item.name%></h2>
              Select a Category:
              <% options = {'New Category' => ''} %>
              <% @categories.each do |key| %>
                <% options[key.name] = key.name %>
              <% end %>
              <%= select_tag(:category_selector, options_for_select(options,cat.name), :class => 'category_selector') %>
              <hidden class="new_category_field" >
              <%=f.text_field :category, :class => "field", :value=>cat.name %>
              </hidden>
              <div>
                <div id="in_stock_<%=item.id%>" class="<%= item.out_of_stock ? "disabled" : "in_stock"%>"
                  onclick="jQuery.ajax({url:'<%=toggle_stock_menu_item_url(item)%>',
                                    datatype: 'script',
                                    type: 'PUT'});">
                  In Stock
                </div>
                <div id="out_of_stock_<%=item.id%>" class="<%= item.out_of_stock ? "out_of_stock" : "disabled"%>"
                  onclick="jQuery.ajax({url:'<%=toggle_stock_menu_item_url(item)%>',
                        datatype: 'script',
                        type: 'PUT'});">
                  Out of Stock
                </div>
              </div>
              <div>
                <%= f.label "Photo:" %>
                <%= f.file_field :photo %>
                <span><%= item.photo.path %></span>
              </div>
              <div><%=f.submit%></div>
            </div>

            <div class="description">
              <h2>
                <%= f.text_field :name, :class=>"field", :value=>item.name %>
              </h2>
              $<%= f.text_field :price, :class=>"field", :value=>item.price %>
              <%= f.text_area :description, :class=>"field", :style=>"height:27px;", :value=>item.description %>
            </div>

        <% end %>
              <%=button_to "Delete", item, :method => :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
  </div>
</div>
</div>

<!-- /floaty display -->

<script type="text/javascript">
  jQuery("#new-item").mouseup(function() {
    jQuery(".item-info").addClass('hidden');
    jQuery(".new-item_info").removeClass('hidden');
  });

  jQuery(".category_selector").change(function() {
      hidden = jQuery(this).parent().find('.new_category_field');
      hidden.find("#menu_item_category").val(jQuery(this).val());
    if (jQuery(this).val().length == 0) {
      hidden.show();
    }
    else {
      hidden.hide();
    }
  });
</script>
