<script type="text/javascript">
  function hideItems(list, index) {
    for(i = index+1; jQuery(list.get(i)).is('div') && i < list.length; i++)
      jQuery(list.get(i)).hide();
  }
  function toggleItems(list, index) {
    for(i = index+1; jQuery(list.get(i)).is('div') && i < list.length; i++)
    {
      var item = jQuery(list.get(i));
      if(item.is(':visible')){
        item.slideUp();
      }
      else
      {
        item.slideDown();
      }
    }
  }
  jQuery(document).ready(function() {
      var slider = jQuery('.item-names').children().get(0);
      var sliderList = jQuery(jQuery(slider).children().get(0)).children();
      jQuery(sliderList.parent()).find('h1').each(function(index){
        if(index > 0)hideItems(sliderList, sliderList.index(this));
        jQuery(this).css('cursor','default');
        jQuery(this).bind('click', function() {
          toggleItems(sliderList, sliderList.index(this));
          });
      });
  });
</script>

<div style="display:table;width:100%;table-layout:fixed;">
  <div class="item-names page-divider" style="width:40%;">
    <div class='scrollable'>
      <ul>
      <% @categories.each do |cat| %>
        <h1><%=cat.name%><%=image_tag('circle-arrow-down.png', :style => 'float:right;margin-right:5px;margin-top:5px;')%></h1>
        <% cat.menu_items.select{|m|m.out_of_stock == false}.each do |item| %>
          <div name="Make the Animation Smoother">
            <div style="display:table;overflow:auto;width:100%;padding:5px;">
              <li id="<%= item.id %>" class="item-name" style='width:100%;display:table-cell;'>
                <%= item.name %>
              </li>
            </div>
          </div>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>

<!-- floaty display -->
  <div class="page-divider">
    <div id="item-view" class="floaty-box">
      <% @categories.each do |cat| %>
        <% cat.menu_items.select{|m|m.out_of_stock == false}.each do |item| %>
          <div id="<%= item.id %>_info" class="<%= item.id %>_info item-info scrollable hidden">
            <% if item.photo.exists? %>
              <div class="frame">
                <%= image_tag item.photo.url(:small), :class => 'mobile' %>
                <%= image_tag item.photo.url(:medium), :class => 'regular' %>
              </div>
            <% end %>

            <div class="description">
              <h2>
                <%= item.name %>
              </h2>
              <%= format_price item.price %>
              <p>
                <%= item.description %>
              </p>
              <% unless item.free_options.empty? %>
                <div style="margin:5px;">
                  <strong>Comes With:</strong>
                  <% item.free_options.each do |o| %>
                    <div style="font-style:italic">
                      <%= "- #{o.name}" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <% unless item.non_free_options.empty? %>
                <div style="margin:5px;">
                  <strong>Additional Options:</strong>
                  <% item.non_free_options.each do |o| %>
                    <div style="font-style: italic">
                        <%= "- #{o.name} #{format_price o.price}" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<!-- floaty display -->
</div>
