<% category = params[:category] %>
<h1>
  <% if category %>
    <%= "Listing #{category} Items" %>
  <% else %>
    <%= "Listing Categories" %>
  <% end %>
</h1>

<% categories ||= [] %>
<% @menu_items.each do |item| %>
  <% categories << item.category.capitalize unless categories.include? item.category.capitalize %>
<% end %>

<%= render 'shared/categories', :categories => categories %>

<ul>
  <% @menu_items.each do |item| %>
    <% if item.category.capitalize == category %>
    <%= render 'shared/describe_each', :item => item %>
    <% end %>
  <% end %>
</ul>

<h2>
  <% menu = category || "Menu Item" %>
  <%= "Add a #{menu}" %>
</h2>
<%= form_for(@menu_item) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'shared/menu_item_entries', :f => f, :categories => categories %>
  <div class="actions">
    <%= f.submit "Create item" %>
  </div>
<% end %>
