<h1>Create a new menu item</h1>

<%= form_for(@menu_item) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %><br />
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
  </div>
  <div class="actions">
    <%= f.submit "Create item" %>
  </div>
<% end %>
