  <div class="field">
    <%= f.label "Name:" %>
    <%= f.text_field :name, :class => "name_text_field" %>
  </div>
  <div class="field">
    <%= f.label "Price: $" %>
    <%= f.text_field :price, :class => "price_text_field" %>
  </div>
  <div class="field">
    <%= f.label "Description:" %>
    <%= f.text_field :description, :rows => 9, :class => "description_text_field" %>
  </div>
  <div class="field">
    <% categories.each do |cat, v| %>
      <%= f.radio_button :category, cat, :checked => cat==params[:category], :class => "menu_item_radio_button" %>
      <%= cat %><br />
    <% end %>
      <%= f.radio_button :category, "new_category", :class => "menu_item_radio_button", :checked => !params[:category] %>
      New Category<br />
      <%= text_field_tag :new_category, nil, :class => "name_text_field" %>
  </div>
  <div class="field">
    <%= f.file_field :photo, :class => "name_text_field" unless true %>
  </div>
  <div class="actions">
  <proceed>
    <%= link_to_function "Submit", "$(this).up('form').submit()" %>
  </proceed>
  </div>
    <hidden><%= f.submit %></hidden>

