  <ul id="order_items">
    <div class="description">
      <h2>Your Order</h2>
      <label>Your Name:</label>
      <input class="field" id="order_customer_name" name="order[customer_name]"
      size="30" type="text" value="<%=@order.customer_name%>"
      onblur="jQuery.ajax({url:'<%= update_name_order_url(@order) %>',
        datatype: 'script',
        type: 'PUT',
        data: 'order[customer_name]='+jQuery(this).val()})">
      <br />

      <%= label_tag "Total:" %>
      <%= format_price @order.price %>

    <% @order.selections.each do |s|%>
      <%= render 'orders/order_item',
                  {:s => s, :order => @order} %>
    <% end %>
    <% unless @order.completed || @order.price <= 0 %>
      <% form_tag APP_CONFIG['paypal_url'] do %>
        <%= hidden_field_tag :cmd, "_s-xclick" %>
        <%= hidden_field_tag :first_name %>
        <%= hidden_field_tag :last_name %>
        <%= hidden_field_tag :encrypted, @order.paypal_encrypted(payment_notifications_url+"?id=#{@order.id}&key=#{@order.secret}", payment_notifications_url(:secret => APP_CONFIG['paypal_secret'])) %>
        <%= link_to_function "Pay Now", "$(this).up('form').submit()", :class => 'link'%>
      <% end %>
    <% end %>
    <%= link_to "View Order", @order, :class => 'link' if @order.completed %>
    </div>
  </ul>
