<%= form_for order do |f| %>
  <ul id="order_items">
    <div class="description">
      <h2>Your Order</h2>
      <label>Your Name:</label>
      <%= f.text_field :customer_name, :value=>order.customer_name, :class => 'field' %>
      <br />

      <%= f.label "Total:" %>
      <%= format_price order.price %>

    <% order.selections.each do |s|%>
      <%= render 'orders/order_item',
                  {:s => s, :order => order} %>
    <% end %>
    <%= link_to_function "Proceed", "$(this).up('form').submit()", :class => 'link' if order.menu_items.count > 0 && !order.completed%>
    <%= link_to "View Order", order, :class => 'link' if order.completed %>
    </div>
  </ul>
<% end %>
