<div class="description" id="<%=s.menu_item.id%>_order">
  <h1 style="color:black"><%= s.menu_item.name %></h1>
  <%=format_price s.menu_item.price%>
  <a class="link" onclick="jQuery.ajax({url:'<%=remove_item_from_order_url(@order)%>',
                        datatype: 'script',
                        data: 'selection=<%=order.selections.find_index(s)%>',
                        type: 'PUT'
  });">
  remove item
  </a>
  <% unless s.menu_item.free_options.empty? %>
    <div>
      With:<br />
      <% s.menu_item.free_options.each do |o| %>
        <div style="margin:5px;display:inline-table;">
          <div style="display:table-cell">
            <%= check_box_tag :option, o.id, !s.options.include?(o),
            {:onclick => "jQuery.ajax({
                    url:'#{alter_option_order_url(@order)}',
                    data: {selection: #{order.selections.index(s)},
                    checked: jQuery(this).is(':checked'),
                    option: #{o.id}},
                    datatype: 'script',
                    type: 'PUT'
                    });"}%>
          </div>
          <div style="display:table-cell">
            <%= o.name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% unless s.menu_item.non_free_options.empty? %>
    <div>
      Additional:<br />
      <%s.menu_item.non_free_options.each do |o| %>
        <div style="margin:5px;display:inline-table">
          <div style="display:table-cell">
            <%= check_box_tag :option, o.id, s.options.include?(o),
            {:onclick => "jQuery.ajax({
                    url:'#{alter_option_order_url(order)}',
                    data: {selection: #{order.selections.index(s)},
                    checked: jQuery(this).is(':checked'),
                    option: #{o.id}},
                    datatype: 'script',
                    type: 'PUT'
                    });"}%>
          </div>
          <div style="display:table-cell">
            <%= "#{o.name} #{format_price o.price}" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
