<% form_for(@order) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <% menu = {} %>
    <% @menu_items.each do |item| %>
      <% menu[item.category] ||= [] %>
      <% menu[item.category] << item %>
    <% end %>
  <nav class="category">
    <ul>
      <% menu.each do |c,item| %>
      <li>
	<%= link_to c, edit_order_path(@order, :category => c) %>
      </li>
      <% end %>
    </ul>
  </nav>
  <% if params[:category] %>
    <h1> <%= params[:category] %></h1><br />
    <% menu[params[:category]].each do |item| %>
      <div class="field">
        <%= f.radio_button :item_addition, "#{item.price} #{item.name}" %>
        <%= f.label "#{item.name} #{format_price item.price}" %><br />
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Add Item to order" %><br />
    </div>
  <% else %>
    <h1>Your Order</h1>
    <ul>
    <% if @order.items %>
      <% if params[:remove] && @order.items=~ /[#{params[:remove]}]/ %>
	<% remove_item @order, params[:remove] %>
      <% end %>
      <% @order.items.split("\n").each do |item| %>
        <li>
        <%= item %> <%= link_to "remove", edit_order_path(@order, :remove => item) %><br />
        </li>
      <% end %>
    <% end %>
    </ul>
    <%= "Total: #{format_price @order.price}" %><br />
    <div class="field">
      <%= f.label "Your name:" %>
      <%= f.text_field :customer_name %><br />
    </div>
    <div class="field">
      <%= f.label "Pickup Time:" %>
      <%= f.select :pickup_time, options_for_select(available_times) %><br />
    </div>
    <div class="actions">
      <%= f.submit "Complete Order" %>
    </div>
  <% end %>
<% end %>
<%= link_to "Return to Order", edit_order_path( @order ) %><br />
<delete>
<%= link_to "Cancel", @order, :method => :delete, :confirm => "Are you sure?" %><br />
</delete>
