<script type="text/javascript">
  function hideItems(list, index) {
    for(i = index+1; jQuery(list.get(i)).is('li') && i < list.length; i++)
    {
      var item = jQuery(list.get(i));
      if(item.attr('id') != 'order')
        item.addClass('hidden');
      else
      {
        item.hide();
        item.show();
      }
    }
  }
  function toggleItems(list, index) {
    for(i = index+1; jQuery(list.get(i)).is('li') && i < list.length; i++)
    {
      var item = jQuery(list.get(i));
      if(item.hasClass('hidden')){
        item.show(500);
        item.removeClass('hidden');
      }
      else
      {
        item.hide(500);
        item.addClass('hidden');
      }
    }
  }
  jQuery(document).ready(function() {
      jQuery('.item-names').find('a').bind('mouseup tap', function(event){
        return false;
      });
      var slider = jQuery('.item-names').children().get(0);
      var sliderList = jQuery(jQuery(slider).children().get(0)).children();
      jQuery(sliderList.parent()).find('h1').each(function(){
        hideItems(sliderList, sliderList.index(this));
        jQuery(this).css('cursor','default');
        jQuery(this).bind('click', function() {
          toggleItems(sliderList, sliderList.index(this));
          });
      });
  });
</script>

<div style="display:table;width:100%;table-layout:fixed;">
  <div class="item-names page-divider" style="width:40%;">
    <div class='scrollable'>
      <ul>
        <h1>Order<%=image_tag('circle-arrow-down.png', :style => 'float:right;margin-right:5px;margin-top:5px;')%></h1>
        <li id="order" class="item-name">
          Your Order
        </li>
      <% @categories.each do |cat| %>
        <h1><%=cat.name%><%=image_tag('circle-arrow-down.png', :style => 'float:right;margin-right:5px;margin-top:5px;')%></h1>
          <% cat.menu_items.select{|m|m.out_of_stock == false}.each do |item| %>
            <li id="<%= item.id %>" class="item-name" style='overflow:auto'>
              <%= item.name %>
              <%= link_to('+','#',{
                  :class => 'link',
                  :style => 'float:right;height:20px;line-height:20px;',
                  :onclick => "jQuery.ajax({url:'#{add_to_order_menu_item_url(item)}',
                                    datatype: 'script',
                                    data: 'id=#{item.id}',
                                    type: 'PUT'
              });"})%>
            </li>
          <% end %>
      <% end %>
      </ul>
    </div>
  </div>

<!-- floaty display -->
  <div class="page-divider">
    <div id="item-view" class="floaty-box">
    <div class='scrollable'>
    <div id="order_info" class="item-info order_info" >
      <%=render 'editable_order', {:@order => @order} %>
    </div>
  </div>
    <% @categories.each do |cat| %>
      <% cat.menu_items.select{|m|m.out_of_stock == false}.each do |item| %>
        <div id="<%= item.id %>_info" class="<%= item.id %>_info item-info scrollable">
          <% if item.photo.exists? %>
            <div class="frame">
              <%= image_tag item.photo.url(:small), :class => 'mobile' %>
              <%= image_tag item.photo.url(:medium), :class => 'regular' %>
            </div>
          <% end %>
          <div class="description">
            <h2>
              <%= item.name %>
            </h2>
            <%= format_price item.price %>
            <p>
              <%= item.description %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
<!-- floaty display -->
