<% form_for(@order) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <% categories = {} %>
  <% MenuItem.all.sort{ |x,y| x.id<=>y.id }.each do |item| %>
    <% categories[item.category] ||= [] %>
    <% categories[item.category] << item %>
  <% end %>

  <div id="fuzz" onclick="hideLarge();"></div>
  <% categories.each_value do |items| %>
    <% items.each do |item| unless item.out_of_stock%>
      <div id="<%= item.id %>_large-info" class="large-item-info"
        onclick="hideLarge();">
        <h2>
          <%=item.name%>
        </h2>
        <img src="http://oixi.jp/rakuda-gohan/img/25/jsqQXiAwMTSDdYONg0-XcOKZ.jpg"></img>
        <br />
        <%= format_price item.price %>
        <p>
          <%= item.description %>
        </p>
      </div>
    <% end %>
  <% end %>
  <% end %>

  <div style="float:left;">
    <% categories.each do |cat, items| %>
    <div style="text-align:left;">
      <h1><%=cat%></h1>
      <ul>
        <% items.each do |item| unless item.out_of_stock%>
          <li id="<%= item.id %>" class="item-name">
            <%= item.name %>
          </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

<!-- static display -->
<div id="item-view" class="static-box" style="float:right;">
    <% categories.each do |cat, items| %>
      <% items.each do |item| unless item.out_of_stock %>
        <div id="<%= item.id %>_info" class="<%= item.id %>_info item-info">
          <div class="frame">
            <img src="http://www.matusita-kai.or.jp/eiyou-ka/9-cooking/images/dango-mochi1.gif"></img>
          </div>
          <div class="description">
            <h2>
              <%= item.name %>
            </h2>
            <%= format_price item.price %>
            <p>
              <%= item.description %>
            </p>
          </div>
        </div>
        
      <% end %>
      <% end %>
    <% end %>
</div>

<!-- /static display -->
<!-- floaty display -->
  <div id="item-view" class="sticky floaty-box" style="float:right;">
    <% categories.each do |cat, items| %>
      <% items.each do |item| unless item.out_of_stock %>
        <div id="<%= item.id %>_info" class="<%= item.id %>_info item-info">
          <div class="frame">
            <img src="http://www.matusita-kai.or.jp/eiyou-ka/9-cooking/images/dango-mochi1.gif"></img>
          </div>
          <div class="description">
            <h2>
              <%= item.name %>
            </h2>
            <%= format_price item.price %>
            <p>
              <%= item.description %>
            </p>
          </div>
        </div>
        
      <% end %>
      <% end %>
    <% end %>
  </div>
<!-- floaty display -->









<% if false # remove this line to enable ordering %>
    <hidden><%= f.submit %></hidden>
  <% if admin? %>
    <div class="actions">
    <proceed>
      <%=link_to_function "Place Order", "$(this).up('form').submit()" %>
    </proceed>
    <other>
      <%= link_to "Print", "JavaScript:window.print();" %>
    </other>
    </div>
    <%= render 'shared/list_orders', { :@orders => Order.find(:all, :conditions => 'completed IS NOT NULL')} %>
  <% else %>
    <div class="field">
      <%= f.label "Your name:" %>
      <%= f.text_field :customer_name, :class => "name_text_field" %>
    </div>
    <div class="field">
      <%= f.label "Any special instructions?" %><br />
      <%= f.text_field :instructions, :class => "instructions_text_field" %>
    </div>
    <div class="field">
      <%= f.label "Pickup Time:" %>
      <select class="time_select" id="order_pickup_time" name="order[pickup_time]">
      <%= options_for_select(available_times) %>
      </select>
    </div>

  <div class="actions">
    <proceed>
      <%= link_to_function "Proceed", "$(this).up('form').submit()" %>
    </proceed>

  </div>
  <% end %>
<% end # remove this line to enable ordering %>
<% end %>
<%if admin? and false%>
<delete>
  <%= link_to "Clear Orders", clear_orders_path, { :confirm => "Clear the database?", :method => :delete } %>
</delete>
Note about Clear Orders*<br />
<p>If someone starts an order they reserve a time slot<br />
You don't see that order until they pay<br />
"Clear Orders" deletes unfinished orders and makes all time slots available<br />
Use "Clear Orders" before you close shop or before you open so you don't accidentally delete an order while someone is paying </p>
<% end %>
<script type="text/javascript">
    $(document).ready(function() {
        hideLarge();
        $("#fuzz").css('height', $(document).height());
        $(".large-item-info").css('top', $window.outerHeight()/2 - $(".large-item-info").outerHeight()/2);
        $(".large-item-info").css('left', $window.outerWidth()/2 - $(".large-item-info").outerWidth()/2);
    });

    $(".item-info").click(function() {
      var name = $(this).attr("id");
      name = name.slice(0, name.length - 5);
      var item = $("#"+name+"_large-info");

      $("#fuzz").show();
      item.show();
    });
    function hideLarge() {
      $("#fuzz").hide();
      $(".large-item-info").hide();
    }
</script>
