<% form_for(@order) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<% categories = {} %>
<% MenuItem.all.each do |item| %>
  <% categories[item.category] ||= [] %>
  <% categories[item.category] << item %>
<% end %>
<% menu = build_menu %>
<table>
<% categories.each do |key, values| %>
  <th><%=key%></th>
<% end %>
<% menu.each do |key, val| %>
<tr>
  <% categories.each do |key, values| %>
    <td>
      <% if val[key] %>
        <%= check_box_tag 'items[]', val[key].name, false, :class => "menu_item_radio_button" %>
        <%= if admin?; val[key].name; else; link_to val[key].name, val[key];end %><br />
        <%= format_price val[key].price %><br />
      <% end %>
    </td>
  <% end %>
</tr>
<% end %>
</table>

    <div class="field">
      <%= f.label "Your name:" %>
      <%= f.text_field :customer_name, :class => "name_text_field" %>
    </div>
    <div class="field">
      <%= f.label "Any special instructions?" %><br />
      <%= f.text_field :instructions, :class => "instructions_text_field" %>
    </div>
    <div class="field">
      <%= f.label "Pickup Time:" %>
      <select class="time_select" id="order_pickup_time" name="order[pickup_time]">
      <%= options_for_select(available_times) %>
      </select>
    </div>


  <div class="actions">
    <%= image_submit_tag "place-order-button.png" %>
  </div>
<% end %>
