<% form_for(@order) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<% categories = {} %>
<% MenuItem.all.each do |item| %>
  <% categories[item.category] ||= [] %>
  <% categories[item.category] << item %>
<% end %>
<% menu = build_menu %>
<table>
<% categories.each do |key, values| %>
  <th><%=key%></th>
<% end %>
<% menu.each do |key, val| %>
<tr>
  <% categories.each do |key, values| %>
    <td>
      <% if val[key] %>
        <%= radio_button_tag key, val[key].name %>
        <%= if admin?; val[key].name; else; link_to val[key].name, val[key];end %><br />
        <%= format_price val[key].price %><br />
      <% end %>
    </td>
  <% end %>
</tr>
<% end %>
</table>

    <div class="field">
      <%= f.label "Your name:" %>
      <%= f.text_field :customer_name %><br />
    </div>
    <div class="field">
      <%= f.label "Pickup Time:" %>
      <%= f.select :pickup_time, options_for_select(available_times) %><br />
    </div>


  <div class="actions">
    <%= image_submit_tag "place-order-button.png" %><br />
  </div>
<% end %>
