<ul>
  <% @order.items.split("\n").each do |item| %>
    <li>
    <%= "#{format_price MenuItem.find_by_name(item).price} #{item}"%><br /> 
    </li>
  <% end %>
</ul>
<p><%= @order.instructions %></p>
<h1>
  <%="Your total is #{format_price @order.price}" %><br />
  <%= "Pickup time: #{@order.pickup_time}" %>
</h1>
  <% if !@order.completed || admin? %>
  <div class="actions">
    <%= link_to (image_tag "place-order-button.png"),complete_order_path(@order), :method => :put %>
  </div>
  <delete>
    <%= link_to "Cancel Order", @order, { :confirm => "Are you sure?", :method => :delete } %>
  </delete>
  <% end %>
<br />
