<div style="display:inline-block;vertical-align:top;width:40%;">
  <div class="scrollable" style="display:inline-block">
    <div class="description" style="padding:10px;">
      <h1 style="color:black">Total</h1>
      <%= format_price @order.price %>
      <div style="height:20px;"></div>

      <h1 style="color:black" style="font-size:15px">Pickup Time </h1>
      <%= render "pickup_time_select", :@order => @order %>

			<%= render "paypal", :@order => @order %>

      <div style="height:20px;"></div>
      <%= "<h2 style='font-size:15px;text-align:center'>Payment Accepted</h2>".html_safe if @order.completed%>
    </div>
  </div>
</div>
<div style="display:inline-block;vertical-align:top;width:59%;">
  <%= render "completed_order", :@order => @order %>
</div>
<%=render 'how-to-order'%>
