<div style="display:inline-block;vertical-align:top;width:40%;">
  <div class="scrollable" style="display:inline-block">
    <div class="description" style="padding:10px;">
      <h1 style="color:black">Total</h1>
      <%= format_price @order.price %>
      <div style="height:20px;"></div>

      <h1 style="color:black" style="font-size:15px">Pickup Time </h1>
      <%= format_time @order.pickup_time %>
      <%= select_tag(:pickup_time, options_for_select(available_times), :style => 'height:20px') unless @order.completed %>
      <div style="height:20px;"></div>

      <%= "<h2 style='font-size:15px;text-align:center'>Payment Accepted</h2>".html_safe if @order.completed%>
    </div>
  </div>
</div>
<div style="display:inline-block;vertical-align:top;width:59%;">
  <div class="scrollable">
    <% @order.selections.each do |s| %>
      <span class="description" style="vertical-align:top;display:block;overflow:auto">
        <div style="display:inline-block;float:left;">
          <h1 style="color:black"><%= s.menu_item.name %> </h1>
          <%= format_price s.menu_item.price %>
        </div>
        <% if s.menu_item.photo.exists? %>
          <div style="display:inline-block;float:right;">
            <%= image_tag s.menu_item.photo.url(:icon), :class => 'mobile', :align => 'top'%>
            <%= image_tag s.menu_item.photo.url(:small), :class => 'regular', :align => 'top'%>
          </div>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
