<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @post.question %>
</p>

<p>
  <b>Response:</b>
  <%= @post.response %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
