<!DOCTYPE html>
<html>
  <%= render 'shared/hide_url_bar' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="/javascripts/swipe.js" type="text/javascript"></script>

<head>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <title><%= "MotoCafe | #{@head}" %></title>
</head>

<body> 
<div id="debug" class="sticky header"> <%= "#{@head}" %> </div>
<% flash.each do |key, value| %>
  <br />
  <div class="flash <%= key %>"><%= value %> ヽ(=^エ^=)ノ</div>
<% end %>
<div id="content" style="height:auto;">
  <%= yield %>
</div>
<div class="sticky navigation-bar">
	<div class="nav_item" onclick="location.href='<%=home_url%>';">
    Home
  </div>
<% unless admin? %>
	<div class="nav_item" onclick="location.href='<%=new_order_url%>';">
    Menu
  </div>
<% else %>
	<div class="nav_item" onclick="location.href='<%=menu_url%>';">
     Edit Menu
  </div>
<% end %>
</div>
</body>

<script type="text/javascript">

    $(document).ready(function() {
      $('body').addClass('hidden');
      window.scrollTo(0, 0);
      var body = $("body");
      if(window.screen.width >= 700) {
        body.width('700');
        $(".mobile").hide();
      }
      else
        $(".regular").hide();

      
      var border = parseInt($(".header").css("border-left-width"));
      var padding = parseInt($('.header').css('padding-left'));
      $(".header").width(body.width()-2*border-2*padding);
      $(".navigation-bar").width(body.width());
      $('#content').css('padding-top',$('.header').outerHeight()+"px");
      $('#content').css('padding-bottom',$('.navigation-bar').outerHeight()+"px");

      var right_pos = body.outerWidth();
      var left_pos = body.offset().left;
      $(".floaty-box").css('width', right_pos*.6+"px");
      $(".floaty-box").css('left',left_pos+right_pos-$(".floaty-box").outerWidth());
      $('.floaty-box').css('top',$('.header').outerHeight())+"px";

      $(".item-info").hide();
        <% if @menu_item && @menu_item.id %>
          <%= "$('#new-item').addClass('selected');" %>
          <%= "$('.#{@menu_item.id}_info').show();" %>
        <% elsif params[:id] %>
          <%= "$('##{params[:id]}').addClass('selected');" %>
          <%= "$('.#{params[:id]}_info').show();" %>
        <% else %>
          <%= "$('#slider').find('li:first').addClass('selected');" %>
          <%= "$('.floaty-box').children(':first').show();" %>
        <% end %>

      $(".category_selector").each(function() {
        hidden = $(this).parent().find('.new_category_field');
        $(this).val(hidden.find("#menu_item_category").val());
        if ($(this).val().length == 0) {
          hidden.show();
        }
        else {
          hidden.hide();
        }
      });
      window.mySwipe = new Swipe(document.getElementById('slider'), {
        callback: function(event, index, elem) {
           $(".item-info").hide();
           $(".item-name").removeClass("selected");
           var el = $(elem)[0].tagName === "LI" ? $(elem) : $(elem).next();
           var name = el.attr("id");
          name = name+"_info";

          var item = $("."+name);
          item.show();
          el.addClass("selected");
          }
      });

      document.addEventListener('touchmove', stopScrolling, false);
      window.setTimeout(function(){
        $(".flash").hide('slow');
      },1500);

      $('body').removeClass('hidden');
    });

    function stopScrolling(e) {
      e.preventDefault();
    }


    $(".item-name").bind('mouseover tap', function() {
       $(".item-info").hide();
       $(".item-name").removeClass("selected");
      var name = $(this).attr("id");
      name = name+"_info";
      var item = $("."+name);
      item.show();
      $(this).addClass("selected");
    });

    var $window = $(window);

    $window.resize(function() {
      var right_pos = $("body").outerWidth();
      var left_pos = $("body").offset().left;
      $(".floaty-box").css('left',left_pos+right_pos-$(".floaty-box").outerWidth());
    });

  </script>

</html>
