<!DOCTYPE html>
<html>
<head>
  <title>DinerApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "add item", create_path%>  
<%= link_to "display all items", display_path %>
<%= yield %>

</body>
</html>
